<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>Nowcoder-Account Activation</title>
</head>
<body>
	<div>
		<p>
			<b th:text="${email}">xxx@xxx.com</b>, Hello!
		</p>
		<p>
			You are registering Nowcoder, this is an activation email, please click this
			<a th:href="${url}">link</a>,
			to activate your Nowcoder account!
		</p>
	</div>
</body>
</html>